#root 
  max-width: 1280px
  margin: 0 

a
  text-decoration: none

.grid-item-list 
  display: flex 
  align-items: center /* Выравниваем элементы по центру по вертикали */
  justify-content: space-between /* Распределяем элементы равномерно */
  margin-bottom: 250px 

/* Дополнительные стили для элементов, если необходимо */
.TitleMain 
  font-family: "Playfair Display", serif
  font-weight: weight
  padding-bottom: 50px
  padding-left: 65px
  color: black
  font-size: 34px /* Размер шрифта для заголовка */

.logoMain 
  position: absolute
  top: 15px
  left: 290px
  width: 60px
  height: 60px
.NavMainWomen
  font-family: "Playfair Display", serif
  font-weight: weight
  margin-bottom: 70px
  font-size: 20px
  color: black
  padding-left: 300px
.NavMainMen
  font-family: "Playfair Display", serif
  font-weight: weight
  margin-bottom: 70px
  font-size: 20px
  color: black
  padding-left: 50px
.NavMainAccessory
  font-family: "Playfair Display", serif
  font-weight: weight
  margin-bottom: 70px
  font-size: 20px
  color: black
  padding-left: 50px
.IMGSearch 
  margin-bottom: 40px
  padding-left: 230px 
  width: 35px /* Пример ширины для иконок */
  height: 35px /* Автоматическая высота для сохранения пропорций */
.IMGShop 
  margin-bottom: 40px
  padding-left: 40px
  width: 35px /* Пример ширины для иконок */
  height: 35px /* Автоматическая высота для сохранения пропорций */
.IMGLike
  margin-bottom: 40px
  padding-left: 40px
  width: 35px /* Пример ширины для иконок */
  height: 35px /* Автоматическая высота для сохранения пропорций */
.IMGMe 
  margin-bottom: 40px
  padding-left: 40px
  width: 35px /* Пример ширины для иконок */
  height: 35px /* Автоматическая высота для сохранения пропорций */
/* Стили для изображения презентации */
.PresentationOfTheCollection 
  position: absolute
  left: 0
  top: 100px

.IMGPresentation 
  width: 100% /* Занимает всю ширину контейнера */
  height: auto /* Автоматическая высота для сохранения пропорций */

.Presentation-minititle
  font-size: 28px
  position: absolute
  top: 150px
  left: 50px
  color: white
.Presentation-text
  font-size: 18px
  position: absolute
  top: 210px
  left: 50px
  color: white
.Presentation-btn-1
  
  font-weight: 550
  font-size: 16px
  position: absolute
  top: 280px
  left: 370px
  width: 250px
  height: 40px
  border: none
  border-radius: 5.6rem
.Presentation-btn-2
  background-color:  #53565A
  color: white
  font-weight: 550
  font-size: 16px
  position: absolute
  top: 280px
  left: 50px
  width: 250px
  height: 40px  
  border: none
  border-radius: 5.6rem
.KidForTheCold_title
  padding-top: 350px
  padding-left: 70px
  color: black
.KidForTheCold-btn
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-weight: weight
  border: none
  font-size: 17px
  text-decoration: underline
  padding-left: 70px
.KidForTheCold_Img-1
  width: 300px
  height: 400px
  padding-left: 70px
  padding-top: 30px 
.KidForTheCold_Img-2
  width: 300px
  padding-left: 20px
  height: 400px
.KidForTheCold_Img-3
  position: absolute
  top: 860px
  left: 710px
  width: 300px
  height: 400px
.KidForTheCold_Img-4
  position: absolute
  top: 860px
  left: 1030px
  width: 300px
  height: 400px
.KidForTheCold_Btn-1
  position: absolute
  top: 1210px
  left: 80px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550
  border-radius: 5.6rem
  border: 0
.KidForTheCold_Btn-2
  position: absolute
  top: 1210px
  left: 400px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550
  border-radius: 5.6rem
  border: 0
.KidForTheCold_Btn-3
  position: absolute
  top: 1210px
  left: 720px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550 
  border-radius: 5.6rem
  border: 0
.KidForTheCold_Btn-4
  position: absolute
  top: 1210px
  left: 1040px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550
  border-radius: 5.6rem
  border: 0
.KidForTheCold_Text-2
  position: absolute
  top: 1145px
  left: 405px 
  font-size: 24px
  color: black
  font-weight: 550
.KidForTheCold_Text-3
  position: absolute
  top: 1150px
  left: 725px 
  font-size: 24px
  color: black
  font-weight: 550
.KidForTheCold_Text-4
  position: absolute
  top: 1150px
  left: 1045px 
  font-size: 24px
  color: black
  font-weight: 550
.SaleWomen_title
  padding-top: 180px
  padding-left: 70px
  color: black
.SaleWomen-btn
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-weight: weight
  border: none
  font-size: 17px
  text-decoration: underline
  padding-left: 70px
.SaleWomen_Img-1
  width: 300px
  height: 400px
  padding-left: 70px
  padding-top: 30px 
.SaleWomen_Img-2
  width: 300px
  padding-left: 20px
  height: 400px
.SaleWomen_Img-3
  position: absolute
  top: 1580px
  left: 710px
  width: 300px
  height: 400px
.SaleWomen_Img-4
  position: absolute
  top: 1580px
  left: 1030px
  width: 300px
  height: 400px
.SaleWomen_Btn-1
  position: absolute
  top: 1930px
  left: 80px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550
  border-radius: 5.6rem
  border: 0
.SaleWomen_Btn-2
  position: absolute
  top: 1930px
  left: 400px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550
  border-radius: 5.6rem
  border: 0
.SaleWomen_Btn-3
  position: absolute
  top: 1930px
  left: 720px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550 
  border-radius: 5.6rem
  border: 0
.SaleWomen_Btn-4
  position: absolute
  top: 1930px
  left: 1040px 
  font-size: 16px
  padding: 10px
  color: black
  font-weight: 550
  border-radius: 5.6rem
  border: 0
.SaleWomen_Text-2
  position: absolute
  top: 1870px
  left: 405px 
  font-size: 24px
  color: black
  font-weight: 550
.SaleWomen_Text-3
  position: absolute
  top: 1870px
  left: 725px 
  font-size: 24px
  color: black
  font-weight: 550
.SaleWomen_Text-4
  position: absolute
  top: 1870px
  left: 1045px 
  font-size: 24px
  color: black
  font-weight: 550
.background 
  position: absolute
  top: 0
  left: 0
  height: 400px
  width: 100%
  background-color: red
  margin: 0
  padding: 0
  z-index: 1
  

    
  

    
  


